#!/usr/bin/env bash

#
# CUSTOM
#

DB_AUTH_CUSTOM_PATH+=(
	$MOD_SKELETON_ROOT"/sql/auth/"
)

DB_CHARACTERS_CUSTOM_PATHS+=(
	$MOD_SKELETON_ROOT"/sql/characters/"
)

DB_WORLD_CUSTOM_PATHS+=(
	$MOD_SKELETON_ROOT"/sql/world/"
)
